.map {
  min-height: 70vh;
  width: 100%;
  max-width: inherit;
  max-height: 70vh;
  border: 1px solid black;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
