@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
.container {
  min-height: inherit;
  max-width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.welcome_text_a {
  font-family: "Nanum Gothic";
  width: 100%;
  max-width: 320px;
  text-align: left;
  padding-top: 2vh;
  font-size: x-large;
  font-weight: bold;
}
.welcome_text_b {
  width: 100%;
  max-width: 320px;
  padding-top: 5%;
  text-align: left;
  font-size: x-large;
  font-weight: bold;
}
.img_item {
  width: 100%;
  max-width: 450px;
  height: 40vh;
  max-height: 400px;
  background-image: url("../resources/Map.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.room_title_field {
  width: 90%;
  max-width: 400px;
  margin-top: 20px;
  font-size: larger;
}
.make_room {
  width: 90%;
  max-width: 400px;
  margin-bottom: 30px;
  font-size: larger;
  margin-top: auto;
}
